self.txt
Data/
flood_extent_mapping/gfm
flood_extent_mapping/gfm_fin
OG_Data/
Wetland_delienation/202506_Feuchtgebiete-Klassifikation_DE.ipynb
Wetland_delienation/PUSHED_202505_Fortgeschritten_Prozessierungsschnittstelle_Sentinel-1-CARD-BS_DE.ipynb
Wetland_delienation/Wetland_GEE.ipynb