self.txt

# All tiffs
Data/
OG_Data/

# flood extent GFM results
flood_extent_mapping/gfm/
flood_extent_mapping/gfm_fin/

# helper notebooks
Wetland_delienation/202506_Feuchtgebiete-Klassifikation_DE.ipynb
Wetland_delienation/PUSHED_202505_Fortgeschritten_Prozessierungsschnittstelle_Sentinel-1-CARD-BS_DE.ipynb
Wetland_delienation/Wetland_GEE.ipynb
Papers/

# others
eCognition/
Planet_data/
info/
